<div>
  <h2>
    <%= @prompt.description %>
  </h2>

  <%= form_with url: "/answer", method: :post do |form| %>
    <%= form.hidden_field :prompt_id, required: true, value: @prompt.id %><br>
    <%= form.text_field :text, required: true, autocomplete: "off", placeholder: "Enter your answer..." %><br>
    <%= form.submit "Submit" %>
  <% end %>
</div>
