<div data-controller="prompt">
  <h3>
    <%= @prompt.description %>
  </h3>
  <ul id="answers">
  <%= form_with url: "/vote", method: :post do |form| %>
    <%= form.hidden_field :prompt_id, required: true, value: @prompt.id %><br>
    <%= form.collection_radio_buttons :answer_id, @answers, :id, :text %>
    <%= form.submit "Submit" %>
  <% end %>
  </ul>
</div>