<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div data-controller="prompt">
  <h3><%= @game_prompt.prompt.description %></h3>
  <p><i>Vote for your favorite:</i></p>
  <%= form_with url: "/vote", method: :post do |form| %>
    <%= form.hidden_field :game_prompt_id, required: true, value: @game_prompt.id %>
    <div class="radio-group">
      <%= form.collection_radio_buttons :answer_id, @answers, :id, :text do |b| %>
        <div class="radio-option">
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</div>