<div data-controller="prompt">
  <h2><%= @prompt.description %></h2>
  <p><i>Vote for your favorite:</i></p>
  <%= form_with url: "/vote", method: :post do |form| %>
    <%= form.hidden_field :prompt_id, required: true, value: @prompt.id %><br>
    <%= form.collection_radio_buttons :answer_id, @answers, :id, :text  do |b| %>
      <div>
        <%= b.label { b.radio_button + b.text } %>
      </div>
    <% end %>
    <br>
    <%= form.submit "Submit" %>
  <% end %>
</div>
