<div class="room-content-card">
  <% if winners.size == 1 %>
    <h3>Winner!</h3>
  <% elsif winners.size > 1 %>
    <h3><%= winners.size %>-Way Tie</h3>
  <% else %>
    <h3>No Winner</h3>
  <% end %>

  <div class="results-section">
    <div class="answers-list">
      <% answers_sorted_by_votes.each do |answer| %>
        <div class="answer-card <%= winners.include?(answer) ? 'answer-winner' : '' %>">
          <div class="answer-text-and-author">
            <span class="answer-text"><%= answer.text %> <%= winner.id == answer.id  ? 'ðŸ†' : '' %></span>
            <span class="answer-author"><%= answer.user.name %></span>
          </div>
          <div class="answer-meta">
            <% if votes_by_answer[answer.id]&.any? %>
              <div class="answer-voters">
                <div class="voters-tags">
                  <% votes_by_answer[answer.id].each do |vote| %>
                    <span class="voter-tag"><%= vote.user.name %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
