<h3>Results</h3>

<% if @winners.size == 1 %>
  Winner: <b><%= @winners.first.user.name %></b>
<% elsif @winners.size > 1 %>
  Tie!!! Richard, choose a winner!!!
  <p><%= @winners.map {|w| w.user.name}.join(', ') %></p>
<% end %>

<%# Display answers and show who voted for them %>
<table>
  <tr>
    <th>Won?</th>
    <th>Answer</th>
    <th>Author</th>
    <th>Votes</th>
  </tr>
  <% @answers_by_id.map do |id, answer| %>
    <tr>
      <td><%= @winners.include?(answer) ? "X" : "" %></td>
      <td><%= answer.text %></td>
      <td><%= answer.user.name %></td>
      <td><%= @votes_by_answer[id]&.map { |v| v.user.name }&.join(', ') %></td>
    </tr>
  <% end %>
</table>

<%# Nav to next prompt %>
<%= form_with url: "/rooms/#{@room.id}/next", method: :post do |form| %>
  <%= form.submit "Next" %>
<% end %>
