<h1>
  Use code "<%= @room.code %>" to signup
</h1>
<h2 id="room">
</h2>
<ul id="waiting-room" data-controller="room" data-channel="waiting-room" data-room-id="<%= @room.id %>">
  <% @users.each do |user| %>
    <li><%= user.name %></div>
  <% end %>
</ul>

<%= form_with url: "rooms/#{@room.id}/start", method: :post do |form| %>
  <%= form.submit "Start" %>
<% end %>
