<%= turbo_stream_from "rooms:#{@room.id}:status" %>

<%# This page is typically viewed by players from a shared screen. Normally a TV. %>
<%# Text and content should be easily viewable from a distance and should  %>
<div class="h-screen flex flex-col" data-controller="room-status">
  <%= render "rooms/status/header" %>

  <div id="status-content-inner" class="flex-1 flex flex-col bg-linear-to-br from-[#f8f4ff] to-[#fff4f9] items-center justify-center">
    <div class="card-primary max-w-[2250px] w-full max-h-[1000px] m-10 flex flex-row flex-1 min-h-0">
      <div id="turbo-target-sidebar" class="flex">
        <% if @room.current_game.present? %>
          <%= render partial: "rooms/status/sidebar", locals: @status_data %>
        <% end %>
      </div>

      <div id="turbo-target-status-page" class="flex-1 flex flex-col justify-start p-8 min-h-0">
        <% case @status %>
        <% when RoomStatus::WaitingRoom %>
          <%= render partial: "rooms/status/waiting_room", locals: @status_data %>
        <% when RoomStatus::Answering %>
          <%= render partial: "rooms/status/answering", locals: @status_data %>
        <% when RoomStatus::Voting %>
          <%= render partial: "rooms/status/voting", locals: @status_data %>
        <% when RoomStatus::Results %>
          <%= render partial: "rooms/status/results", locals: @status_data %>
        <% when RoomStatus::FinalResults %>
          <%= render partial: "rooms/status/final_results", locals: @status_data %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Music Controls / Player %>
  <%= render "shared/music_player" %>
</div>
