<%= stylesheet_link_tag "status-page", "data-turbo-track": "reload" %>

<%= render "rooms/status/header" %>

<div data-controller="rooms-status" class="status-content">
  <%= tag.div(flash[:notice], class: "error-notice") if flash[:notice] %>

  <div class="status-content-inner">
    <% case @status %>
    <% when RoomStatus::WaitingRoom %>
      <%= render "rooms/status/waiting_room" %>
    <% when RoomStatus::Answering %>
      <%= render "rooms/status/answering" %>
    <% when RoomStatus::Voting %>
      <%= render "rooms/status/voting" %>
    <% when RoomStatus::Results %>
      <%= render "rooms/status/results" %>
    <% when RoomStatus::FinalResults %>
      <%= render "rooms/status/final_results" %>
    <% end %>
  </div>
</div>

<%= render "rooms/status/footer" %>
