<div data-controller="rooms-status">
  <h2>Room Code: "<%= @room.code %>"</h2>

  <div>
    <% if @status == "WaitingRoom" %>
      <h3>Waiting for other players to join:</h3>
      <ul id="waiting-room">
        <% if @users.empty? %>
          <%# First element is deleted when the first user joins %>
          <li id="no-users-yet"><i>No users yet</i></li>
        <% end %>
        <% @users.each do |user| %>
          <li id="waiting-room-<%= user.name %>"><%= user.name %></li>
        <% end %>
      </ul>

      <%= form_with url: "/rooms/#{@room.id}/start", method: :post do |form| %>
        <%= form.submit "Start" %>
      <% end %>
    <% elsif @status == "Answering" %>
      <h2>
        <%= @prompt.description %>
      </h2>
      <p><i>Answer on your device</i></p>

      <h3>
        These people are done:
      </h3>

      <ul id="users-with-submitted-answers">
        <% @users_with_submitted_answers.each do |user| %>
          <li id="submitted-answer-<%= user %>"><%= user %></li>
        <% end %>
      </ul>
    <% elsif @status == "Voting" %>
      <h2>
        <%= @prompt.description %>
      </h2>
      <p><i>Vote for the best answer on your device!</i></p>

      <h3>
        These people have voted so far:
      </h3>

      <%# No winner- display votes so far %>
      <ul id="votes">
        <% @votes.each do |vote| %>
          <li id="vote-<%= vote.user.name %>"><%= vote.user.name %></li>
        <% end %>
      </ul>
    <% elsif @status == "Results" %>
      <h3>Results</h3>

      <% if @winners.size == 1 %>
        Winner: <b><%= @winners.first.user.name %></b>
      <% elsif @winners.size > 1 %>
        Tie!!! Richard, choose a winner!!!
        <p><%= @winners.map {|w| w.user.name}.join(', ') %></p>
      <% end %>

      <%# Display answers and show who voted for them %>
      <table>
        <tr>
          <th>Won?</th>
          <th>Answer</th>
          <th>Author</th>
          <th>Votes</th>
        </tr>
        <% @answers_by_id.map do |id, answer| %>
          <tr>
            <td><%= @winners.include?(answer) ? "X" : "" %></td>
            <td><%= answer.text %></td>
            <td><%= answer.user.name %></td>
            <td><%= @votes_by_answer[id]&.map { |v| v.user.name }&.join(', ') %></td>
          </tr>
        <% end %>
      </table>

      <%# Nav to next prompt %>
      <%= form_with url: "/rooms/#{@room.id}/next", method: :post do |form| %>
        <%= form.submit "Next" %>
      <% end %>
    <% end %>
  </div>
</div>
