<%= stylesheet_link_tag "status-page", "data-turbo-track": "reload" %>
<%= turbo_stream_from "rooms:#{@room.id}:status" %>

<%= render "rooms/status/header" %>

<div data-controller="rooms-status" class="status-content">
  <%= tag.div(flash[:notice], class: "error-notice") if flash[:notice] %>

  <div id="status-content-inner" class="status-content-inner">
    <% case @status %>
    <% when RoomStatus::WaitingRoom %>
      <%= render partial: "rooms/status/waiting_room", locals: @status_data %>
    <% when RoomStatus::Answering %>
      <%= render partial: "rooms/status/answering", locals: @status_data %>
    <% when RoomStatus::Voting %>
      <%= render partial: "rooms/status/voting", locals: @status_data %>
    <% when RoomStatus::Results %>
      <%= render partial: "rooms/status/results", locals: @status_data %>
    <% when RoomStatus::FinalResults %>
      <%= render partial: "rooms/status/final_results", locals: @status_data %>
    <% end %>
  </div>
</div>

<%= render "rooms/status/footer" %>
