<%= turbo_stream_from "rooms:#{@room.id}:status" %>

<%= stylesheet_link_tag "room-status", "data-turbo-track": "reload" %>

<%= render "rooms/status/header" %>

<div class="status-content" data-controller="room-status">
  <div id="status-content-inner" class="status-content-inner">
    <div class="status-page-card">
      <div id="turbo-target-sidebar" class="turbo-target-sidebar">
        <% if @room.current_game.present? %>
          <%= render partial: "rooms/status/sidebar", locals: @status_data %>
        <% end %>
      </div>

      <div id="turbo-target-status-page" class="status-page-card">
        <% case @status %>
        <% when RoomStatus::WaitingRoom %>
          <%= render partial: "rooms/status/waiting_room", locals: @status_data %>
        <% when RoomStatus::Answering %>
          <%= render partial: "rooms/status/answering", locals: @status_data %>
        <% when RoomStatus::Voting %>
          <%= render partial: "rooms/status/voting", locals: @status_data %>
        <% when RoomStatus::Results %>
          <%= render partial: "rooms/status/results", locals: @status_data %>
        <% when RoomStatus::FinalResults %>
          <%= render partial: "rooms/status/final_results", locals: @status_data %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Music Controls / Player %>
  <%= render "shared/music_player" %>
</div>